
.App {
  width: 100vw;
  height: 400vh;
  background-color: #FFFAF1;
  display: flex;
}

.Descrip1 {
  background-color:  #8895AF;
  padding-top: 55px;
  padding-bottom: 65px;
  padding-left: 140px;
  padding-right: 40px;
  margin-top: 55px;
  margin-left: 650px; 
  margin-bottom: 130px;
  border-radius: 200px 0px 0px 200px;
  font-size: 30px;
  position: relative;
  right: -800px; /* Off-screen initially */
  transition: right 1s ease; /* Slide-in transition */
  display: flex;
  height: 350px;
  font-weight: lighter;
  box-shadow: 0px 2px 5px 4px #d7d8da;

}

#Descrip1Words {
  width: 500px;
  margin-right: 70px;
  font-size: 35px;
}


body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  height: 100%;
  width: 300px;
  background-color: #8895AF;
  display: inline-block; 
  position: fixed;
  box-shadow: 0px 2px 5px 4px #d7d8da;
}

.SidebarContent {
  padding: 30px 28px;
}

.title {
  font-size: 35px;
  padding-bottom: 25px;
  font-family: Fahkwang;

  /*text-shadow:
  -1px -1px 0 white,  
  1px -1px 0 white,
  -1px 1px 0 white,
  1px 1px 0 white; /* Add white shadows to create the outline effect */
  color: #380652;



}

.sidebarElement {
  font-family: monospace;
  font-weight: bold;
  padding-left: 10px;
  color: white;
  background-color: #8895AF; 
  border: none;
  font-size: 22px;
  white-space: pre;
  margin-bottom: 10px;
}

.MainContent {
  flex: 1;

}

.WelcomeContent {
  display: flex; 
  padding: 50px 50px 0px 50px;
  margin-left: 300px;
  margin-bottom: 100px;

}

.WelcomeText {
  padding-left: 360px;
  padding-top: 85px;
  font-family: 'Fahkwang';
  font-size: 100px;
  color: #380652;
  white-space: pre;
}

.pfpImage {
  height: 40px;
  width: 40px;
  display: inline-block; 
  padding-top: 10px; 
}


.about {
  margin-left: 400px;
  margin-right: 150px;
  margin-bottom: 40px;
}

.about3 {
  margin-bottom: 140px;
}


.ProjectDescrip {
  margin-left: 400px;
  margin-bottom: 70px;
  font-size: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust as needed */
  grid-gap: 110px; /* Adjust the gap between grid items */
}

.grid-item {
  text-align: center; /* Center the image */
  text-decoration: none; /* Remove underline from links */
}

.grid-item img {
  height: 200px; 
}

#skillsBox{
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 200px; /* Set a height for the container */
  border-radius: 50px 50px 50px 50px;
  font-weight: lighter;
  font-size: 28px;
  height: 85px;
  border:2px solid black;
  white-space: pre;
  box-shadow: 0px 2px 5px 4px #d7d8da;
}


.carouselFeatures {
  padding: 100px;
  border-radius: 50px 50px 50px 50px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 200px; /* Set a height for the container */
  color: white;
  background-color: #380652;
  font-family: Fahkwang;
}


.scrollUp {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.scrollDown {
  display: flex;
  align-items: baseline;
  justify-content: center;
  color: #faebd7;
  font-size: 24px;
}

.scrollArrowUp {
  margin-right: 20px;
  margin-bottom: 1px;
}

.scrollArrowDown {
  margin-right: 20px;
}


.rotate-in {
  transform: rotate(0deg);
  transition: transform .3s ease-in-out;
}

.rotate-out {
  transform: rotate(90deg);
  transition: transform .4s ease-in-out;
}

#website-img{
  padding-left: 12px;
  padding-right: 12px;
  background-color: white;

}

#spotifystats-img {
  padding-left: 19px;
  padding-right: 19px;
  background-color: white;
}

#codenotes-img {
  padding-right: 310px;
  background-color: white;
}

.project-picture {
  border-radius: 20px;
  overflow: hidden; /* Ensure the image is clipped to the rounded corners */
  border:1px solid black;
  box-shadow: 2px 2px 4px 1px #380652;
}
