.App {
  width: 100vw;
  height: 100vh;
  background-color: #FFFAF1;
  display: flex;
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  height: 100%;
  width: 300px;
  background-color: #8895AF;
  display: inline-block; 
}

.SidebarContent {
  padding: 30px;
  color: white;
}

.title {
  font-size: 30px;
  padding-bottom: 25px;
}

.sidebarElement {
  font-family: monospace;
  font-size: 15px;
  font-weight: bold;
  padding-left: 10px;
  padding-bottom: 10px;
}

.pfpImage {
  height: 40px;
  width: 40px;
  display: inline-block; 
}
